<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ifp.mp04_dam_uf01_apellido_nombre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MP04_DAM_UF01_Apellido_Nombre">
        <activity android:name=".BorrarNotaActivity"></activity>
        <activity android:name=".ActualizarActivity" />
        <activity android:name=".CrearNotaActivity" />
        <activity android:name=".VerNotasActivity" />
        <activity android:name=".ListadoActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>